@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-left: 0;
  font-family: 'Rubik', sans-serif;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

a {
    text-decoration: none;
    color: white;
}

header {
  padding: 0px 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:#00360e;
}

.navbar-brand {
  font-size: 1rem;
}

h1 {
  color: white;
  font-size: 3rem;
  text-shadow: rgb(59, 59, 59) 0.1rem 0.1rem 0.2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-weight: 700;
}

h2 {
  color: white;
  font-weight: 700;
  margin-bottom: 0;
}

p {
  text-decoration: none;
  color: white;
}

li {
    list-style: none;
    margin: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    text-align: center;
    line-height: 1em;
    transition: font-weight 1s;
    font-weight: 500;
}

li:hover{
    background-color: rgb(0, 181, 15);
    font-weight: lighter;    
}

ul {
    display: flex;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 0;
}

#hero {
  background-image: url(../assets/img/hero-banner.jpg);
  background-size: cover;
  background-position: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#hero-2 {
  background-image: url(https://images.unsplash.com/photo-1633609981351-67743b44e7ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  background-size: cover;
  background-position: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#hero-ctc {
  background-image: url(../assets/img/contact-us.jpg);
  background-size: cover;
  background-position: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#hero-prod {
  background-image: url(https://images.unsplash.com/photo-1601312044126-06d550c15beb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  background-position: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  min-height: 60vh;
}

#boton{
  background-color: #297d40;
  border: 0px;
  padding: 1rem;
  color: white;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.7rem;
}

#sec-A{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: #297d40;
  min-height: 40vh;
  text-align: end;
}

#sec-B {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

#sec-C{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

#sec-D {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: #297d40;
  min-height: 40vh;
  text-align: start;
}

#sec-E {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #297d40;
  min-height: 30vh;
  background-size: cover;
}

#sec-F {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #297d40;
  min-height: 40vh;
  background-size: cover;
}

#yt-video {
  margin-top: 1rem;
  max-width: 95%;
  min-width: 70%;
  max-height: 80vh;
  min-height: 60vh;
}

#product-sec-D { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: #297d40;
  } 

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #297d40;
}

table.tablePrice {
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  color: white;
  border: solid;
  table-layout: fixed;
  border-color: white;
  border-width: 3px;
  text-align: center;
  width: 100%;
  height: auto;
  line-height: 1.7;
}

/*
Forces carousel image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
  width:100%;
  height:40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#carousel-pina {
  padding-right: 0px;
  padding-left: 0px;
  object-fit: cover;
  background-repeat: no-repeat;
}

footer { 
  padding: 0px 50px;
  background-color: #00360e;
  background-image: linear-gradient(to top, #00360e, #297d40);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Form de contacto */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  font-family: 'Rubik', sans-serif;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #003302; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  font-family: 'Rubik', sans-serif;
  background-color: rgb(13, 76, 0);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  font-family: 'Rubik', sans-serif;
  background-color: #b2ff8ba3;
}

/* Add a background color and some padding around the form */
.container-form {
  font-family: 'Rubik', sans-serif;
  border-radius: 5px;
  background-color: #b2ff8ba3;
  padding: 20px;
  width: 50vw;
  color: #003302;
}

/* Fin form de contacto */

@keyframes onOff {
	0%{opacity: 0;}
	100%{opacity: 1;}
}
.onOff{
	animation-name: onOff;
	animation-iteration-count: infinite;
	animation-delay: 0s;
	animation-duration: 4s;
}