@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 0;
  font-family: 'Rubik', sans-serif; }

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-right: 0;
  margin-left: 0; }

.search-form {
  margin: 3% 0;
  padding: 50px 50px 50px 50px;
  max-width: 100%;
  width: 100vw; }

.bg-form {
  background-color: whitesmoke;
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 0.5rem;
  box-shadow: 5px 10px 18px #3e59058c;
  max-width: 100%; }

.row {
  margin-right: 0;
  margin-left: 0; }

a {
  text-decoration: none;
  color: #FFFFFF; }

header {
  grid-area: header;
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #00360e; }
  header li {
    list-style: none;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    line-height: 1em;
    transition: font-weight 0.5s;
    font-weight: 500; }
  header li:hover {
    background-color: #00b50f;
    font-weight: lighter; }
  header ul {
    display: flex;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 0; }

.navbar-brand {
  font-size: 1rem; }

h1 {
  color: white;
  font-size: 3rem;
  text-shadow: #3b3b3b 0.1rem 0.1rem 0.2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-weight: 700; }

h2 {
  color: white;
  font-weight: 700;
  margin-bottom: 0; }

p {
  text-decoration: none;
  color: white; }

#hero {
  grid-area: hero;
  background-image: url(https://images.unsplash.com/photo-1599813674302-e3b2bc05695f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  min-height: 100vh; }

#hero-2 {
  background-image: url(https://images.unsplash.com/photo-1627386172141-c6fec8bf5aa3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  min-height: 100vh; }

#hero-ctc {
  background-image: url(../assets/img/contact-us.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  min-height: 100vh; }

#hero-prod {
  background-image: url(https://images.unsplash.com/photo-1587197446568-23587beb4fa7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  min-height: 60vh; }

#boton {
  background-color: #297d40;
  color: white;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }
  #boton boton:hover {
    background-color: #b2ff8ba3; }

#sec-A {
  grid-area: sec-A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: #297d40;
  min-height: 40vh;
  text-align: end; }

#sec-B {
  grid-area: sec-B;
  background-image: url(https://images.unsplash.com/photo-1604846252776-f2b3336da374?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  padding-right: 0; }

#sec-C {
  grid-area: sec-C;
  background-image: url(https://images.unsplash.com/photo-1604846253303-b30fc835b7a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  padding-right: 0; }

#sec-D {
  grid-area: sec-D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: #297d40;
  min-height: 40vh;
  text-align: start; }

#sec-E {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #297d40;
  min-height: 30vh;
  background-size: cover; }
  #sec-E p {
    text-decoration: none;
    color: white;
    text-align: center;
    margin-bottom: 0; }

#sec-F {
  min-height: 40vh;
  background-size: cover;
  align-items: center; }

#yt-video {
  margin-top: 1rem;
  max-width: 95%;
  min-width: 70%;
  max-height: 80vh;
  min-height: 60vh; }

#product-sec-D, #sec-F {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #297d40; }

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #297d40; }

table.tablePrice {
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  color: white;
  border: solid;
  table-layout: fixed;
  border-color: white;
  border-width: 3px;
  text-align: center;
  width: 100%;
  height: auto;
  line-height: 1.7; }

#carousel-pina {
  padding-right: 0px;
  padding-left: 0px;
  max-height: 85vh; }

#carouselExampleControls {
  max-height: 85vh;
  background-position: bottom; }

.carousel-inner {
  max-height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom; }

footer {
  grid-area: footer;
  padding: 0px 50px;
  background-color: #00360e;
  background-image: linear-gradient(to top, #00360e, #297d40);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  footer li {
    list-style: none;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    line-height: 1em;
    transition: font-weight 1s;
    font-weight: 500; }
  footer li:hover {
    background-color: #00b50f;
    font-weight: lighter; }
  footer ul {
    display: flex;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 0; }

/* Form de contacto */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  font-family: 'Rubik', sans-serif;
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #003302;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */ }

/* Style the submit button with a specific background color etc */
input[type=submit] {
  font-family: 'Rubik', sans-serif;
  background-color: #0d4c00;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  font-family: 'Rubik', sans-serif;
  background-color: #b2ff8ba3; }

/* Add a background color and some padding around the form */
.container-form {
  font-family: 'Rubik', sans-serif;
  border-radius: 5px;
  background-color: #b2ff8ba3;
  padding: 20px;
  width: 80vw;
  color: #003302;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px; }

/* Fin form de contacto */
/* Animaciones */
@keyframes onOff {
  40% {
    opacity: 0; }
  80% {
    opacity: 1; } }

.onOff {
  animation-name: onOff;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-duration: 6s; }

@media (max-width: 992px) {
  h1 {
    font-size: 2rem; }
  h2 {
    font-weight: 600; }
  p {
    font-size: 0.9rem; }
  header {
    margin-right: 0;
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px; }
  #boton {
    font-size: 12px; } }
