@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 0;
    font-family: 'Rubik', sans-serif;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

a {
    text-decoration: none;
    color: white;
}

header {
  padding: 0px 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:#00360e;
}

h1 {
  color: white;
  text-shadow: rgb(59, 59, 59) 0.1rem 0.1rem 0.2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-weight: normal;
}

h2 {
  color: white;
}

p {
  text-decoration: none;
  color: white;
}

li {
    list-style: none;
    margin: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    text-align: center;
    line-height: 1em;
    transition: font-weight 1s;
    font-weight: 500;
}

li:hover{
    background-color: rgb(0, 181, 15);
    font-weight: lighter;    
}

ul {
    display: flex;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 0;
}

#hero {
  background-image: url(../assets/img/hero-banner.jpg);
  background-size: cover;
  background-position: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  min-height: 700px;
}

#boton{
  background-color: #297d40;
  border: 0px;
  padding: 1rem;
  color: white;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
  text-align: center;
}

#sec-A{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: #297d40;
  min-height: 50%;
}

#sec-B {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

#sec-C{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

#sec-D {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: #297d40;
  min-height: 50%;
}

footer { 
  padding: 0px 50px;
  background-color: #00360e;
  background-image: linear-gradient(to top, #00360e, #297d40);
  grid-area: Footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
