@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');
@import "colores";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 0;
  font-family: 'Rubik', sans-serif;
}

$estilo-container:(
  ancho: 100%,
  mg-izq: 0,
  mg-der: 0,
  pd-izq: 0,
  pd-der: 0
);

.container-fluid {
  padding-left: map-get($estilo-container, pd-izq);
  padding-right: map-get($estilo-container, pd-der);
  width: map-get($estilo-container, ancho);
  margin-right: map-get($estilo-container, mg-izq);
  margin-left: map-get($estilo-container, mg-izq);
}

.container-gridpage {
  padding-left: map-get($estilo-container, pd-izq);
  padding-right: map-get($estilo-container, pd-der);
  width: map-get($estilo-container, ancho);
  margin-right: map-get($estilo-container, mg-izq);
  margin-left: map-get($estilo-container, mg-izq);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 800px 400px 400px auto;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-template-areas: 
  "header header"
  "hero hero"
  "sec-A sec-B"
  "sec-C sec-D"
  "footer footer";
  height: 100%;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

header {
  grid-area: header;
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: $colorPrimario;

  li {
    list-style: none;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    line-height: 1em;
    transition: font-weight 0.5s;
    font-weight: 500;
  }

  li:hover{
    background-color: rgb(0, 181, 15);
    font-weight: lighter;    
  }

  ul {
    display: flex;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 0;
  }
}

.navbar-brand {
  font-size: 1rem;
}

@mixin h1-hero{
  color: white;
  font-size: 3rem;
  text-shadow: rgb(59, 59, 59) 0.1rem 0.1rem 0.2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-weight: 700;
}

h1 {
    @include h1-hero;
 }

h2 {
  color: white;
  font-weight: 700;
  margin-bottom: 0;
}

p {
  text-decoration: none;
  color: white;
}

#hero {
  grid-area: hero;
  background-image: url(https://images.unsplash.com/photo-1599813674302-e3b2bc05695f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80);
  background-size: cover;
  background-position: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#hero-2 {
  background-image: url(https://images.unsplash.com/photo-1627386172141-c6fec8bf5aa3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  background-position: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#hero-ctc {
  background-image: url(../assets/img/contact-us.jpg);
  background-size: cover;
  background-position: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#hero-prod {
  background-image: url(https://images.unsplash.com/photo-1587197446568-23587beb4fa7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
  background-size: cover;
  background-position: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  min-height: 60vh;
}

#boton{
  background-color: $colorSecundario;
  color: white;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  boton:hover {
  background-color: #b2ff8ba3;
  }
}

#sec-A{
  grid-area: sec-A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: $colorSecundario;
  min-height: 40vh;
  text-align: end;
}

#sec-B {
  grid-area: sec-B;
  background-image: url(https://images.unsplash.com/photo-1604846252776-f2b3336da374?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

#sec-C{
  grid-area: sec-C;
  background-image: url(https://images.unsplash.com/photo-1604846253303-b30fc835b7a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

#sec-D {
  grid-area: sec-D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: $colorSecundario;
  min-height: 40vh;
  text-align: start;
}

#sec-E {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $colorSecundario;
  min-height: 30vh;
  background-size: cover;
  p {
    text-decoration: none;
    color: white;
    text-align: center;
    margin-bottom: 0;
  }
}

#sec-F {
  @extend #product-sec-D;
  min-height: 40vh;
  background-size: cover;
  align-items: center;
}

#yt-video {
  margin-top: 1rem;
  max-width: 95%;
  min-width: 70%;
  max-height: 80vh;
  min-height: 60vh;
}

#product-sec-D { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $colorSecundario;
  } 

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $colorSecundario;
}

table.tablePrice {
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  color: white;
  border: solid;
  table-layout: fixed;
  border-color: white;
  border-width: 3px;
  text-align: center;
  width: 100%;
  height: auto;
  line-height: 1.7;
}

#carousel-pina {
  padding-right: 0px;
  padding-left: 0px;
  max-height: 85vh;
}

#carouselExampleControls {
  max-height: 85vh;
  background-position: bottom;
}

.carousel-inner {
  max-height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

footer { 
  grid-area: footer;
  padding: 0px 50px;
  background-color:$colorPrimario;
  background-image: linear-gradient(to top, $colorPrimario, $colorSecundario);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  li {
    list-style: none;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    line-height: 1em;
    transition: font-weight 1s;
    font-weight: 500;
  }

  li:hover{
    background-color: rgb(0, 181, 15);
    font-weight: lighter;    
  }

  ul {
    display: flex;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 0;
  }
}

/* Form de contacto */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  font-family: 'Rubik', sans-serif;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #003302; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  font-family: 'Rubik', sans-serif;
  background-color: rgb(13, 76, 0);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  font-family: 'Rubik', sans-serif;
  background-color: #b2ff8ba3;
}

/* Add a background color and some padding around the form */
.container-form {
  font-family: 'Rubik', sans-serif;
  border-radius: 5px;
  background-color: #b2ff8ba3;
  padding: 20px;
  width: 80vw;
  color: #003302;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* Fin form de contacto */

/* Animaciones */

@keyframes onOff {
	40%{opacity: 0;}
	80%{opacity: 1;}
}
.onOff{
	animation-name: onOff;
	animation-iteration-count: infinite;
	animation-delay: 0s;
	animation-duration: 6s;
}

@media (max-width: 992px){
  .container-gridpage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 600px 400px 400px 400px 400px auto;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "header"
    "hero"
    "sec-A"
    "sec-B"
    "sec-D"
    "sec-C"
    "footer";
    width: 100%;
    height: 100%;
  }
  h1{
    font-size: 2.5rem;
  }
  h2 {
    color: white;
    font-weight: 600;
  }
  p {
    font-size: 0.9rem;
  }
  header {
    margin-right: 0;
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  #boton{
    font-size: 0.9rem;
  }
}